@using FoodorderApp.EF;
@{
    ViewBag.Title = "foods";
    Layout = "~/Areas/MyUsers/Views/Shared/ulayout.cshtml";
}

<h3>Our Menu</h3>
<h4>
    Welcome toour food store
</h4>

<div class="about-grids">
    <div class="about-grids-top">
        @foreach (tblFood item in ViewBag.foodlist as List<tblFood>)
        {
            <div class="col-md-6 about-grids-left">
                <div class="col-md-6 about-grid">
                    <a href="/MyUsers/Home/food/@item.foodid"><img src="/Areas/FOAdmin/images/FoodImages/@item.foodimg" alt="No Image Found" width="200" height="200" /></a>
                </div>
                <div class="col-md-6 about-grid about-grid-info">
                    <div class="price">
                        <span>&#8377</span>@item.price
                    </div>
                    <h4>@item.food</h4>
                    <p>@item.fooddesc</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        }


        <div class="clearfix"> </div>
    </div>

</div>

